ul{
    list-style: none;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    height: 2em;
    padding: 2em 2em 0em 2em;
}

#nav{
    display: flex;
}

.icon{
    /* margin: .3em; */
    padding-left: 2em;
}

button{
    padding: 1.3em;
    margin: .5em;
    border-radius: .5em;
    background-color: rgb(108, 215, 59);
    color: aliceblue;
    box-shadow: .5em .5em 1em rgb(106, 126, 23);
}

button:hover{
    background-color: aliceblue;
    color: rgb(108, 215, 59);
}

#logo{
    padding-left: 1em;
    width: 4.5em;
    height: 2em;
}

#footer-logo{
    padding: 1em 0em 0em 5em;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content:center;
    /* text-align: center; */
    /* padding-top: -1em; */
    /* padding-left: 8em; */
    /* margin-bottom: -1em; */
}

#footer-logo-img{
    padding: 1em 0em 0em 5em;
    width: 9.5em;
    height: 5em;
}

#fullPage{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/placement-2022.png");
    /* background-repeat:repeat-x; */
    background-size: 100%;
    position: relative;
    top: -1.9em;
    left: -.3em;
}

p{
    padding: 7em 10em 0em 6em;
    width: 50%;
    color:rgb(19, 48, 103);
    font-size: larger;
}

footer{
    display: flex;
    /* justify-content: space-evenly; */
    background-color: #1e272e;
    width: 100vw;
    /* position: relative; */
    /* top: -1.8em; */
    left: -.5em;
    height: 10em;
    /* margin-bottom: -2em; */
    /* bottom: 2em; */
    align-items: center;
}

@media only screen and (max-width:600px){
    
    ul{
        font-size: 1.5em;
        padding-right: .4em;
        /* padding-top: .5em; */
    }
    
    #fullPage{
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
    }

    footer{
        flex-direction: column;
        /* position: inherit; */
        /* bottom: -4em; */
        width: 100vw;
        margin-right: 0%;
        padding-right: 0%;
    }

    #footer-logo{
        justify-content: center;
        /* align-items: flex-start; */
        flex-wrap: wrap;
        padding-bottom: 3.3em;
        margin-left: -2em;
        /* margin-right: -.2em;
        padding-right: -.2em; */
    }

    #logo{
        padding-top: .4em;
        padding-left: .5em;
        width: 3.5em;
        height: 1.5em;
    }

    button{
        padding: .5em;
    }

    #footer-logo-img{
        padding: 1.5em 0em 0em 2.5em;
        width: 5.5em;
        height: 3em;
    }
}