
<div id="fullPage">
  <ul>
    <li><a href="#"><img id="logo" src="../../assets/HireHay.png" alt="HireHay Image"></a></li>
    <div id="nav">
      <li><button routerLink="/signin" routerLinkActive="active">Sign In</button></li>
      <li><button routerLink="/signup" routerLinkActive="active">Sign Up</button></li>
    </div>
  </ul>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, velit nisi distinctio modi atque debitis sint
    obcaecati nemo molestiae dolorem quam vero inventore architecto maxime, cumque accusamus perferendis quaerat a!
  </p>
</div>
<footer>
  <img id="footer-logo-img" src="../../assets/HireHay.png" alt="HireHay Image">
  <div id="footer-logo">
    <img class="icon" src="https://img.icons8.com/fluency/48/undefined/linkedin-circled.png"/>
    <img class="icon" src="https://img.icons8.com/fluency/48/undefined/instagram-new.png"/>  
    <img class="icon" src="https://img.icons8.com/color/48/undefined/youtube-play.png"/>
    <img class="icon" src="https://img.icons8.com/fluency/48/undefined/facebook-new.png"/>
  </div>
</footer>